@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-[35px] leading-[35px]	 sm:text-[40px] sm:leading-[40px]	 md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }

  @media (max-width: 767px) {
    .hidden_with_globals {
      @apply hidden;
    }
  }
}
.hidden_ele {
  display: none;
}

/* React Slick */
.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.slick-dots {
  bottom: -70px !important;
}

@media (max-width: 639px) {
  .slick-dots {
    display: none !important;
  }
}
/* Logo */

.logo {
  filter: invert(27%) sepia(78%) saturate(1969%) hue-rotate(230deg)
    brightness(93%) contrast(93%);
}
